.flexbox-container{

    display: flex;

    background-color:gainsboro;

    flex-wrap:  wrap;
    flex-direction: row;

}

.flexbox-container > div{

width: 150px;
margin: 30px;
height: 150px;
background-color:cornsilk;
font-size: 30px;
line-height: 75px;
text-align: center;
box-shadow:  10px 10px 20px black; 
border-radius: 10px;


}

/* .flexbox-container > div:hover{
    background-color: brown;
    color: azure;
}    */ 

.item1:hover{
    background-color: cornsilk;
    color: brown;
    box-shadow: 0px 0px;
    width: 145px;
    height: 145px;
}
    
.item2:hover{
    background-color: fuchsia;
    color:darkblue;
}
.item3:hover{
    background-color: blueviolet;
    color: aquamarine;
}
.item4:hover{
    background-color: darkorange;
    color: brown;
}
.item5:hover{
    background-color:blue;
    color: white;
}

.item1 a:link{

    text-decoration: none;
    
}

.item1 a:visited{
    text-decoration:none
}


/*

.flexbox-item-1{
    min-height: 100px;
    
}

.flexbox-item-2{
    min-height: 200px;
}

.flexbox-item-3{
    min-height: 300px;
}

.flexbox-item-4{
    min-height: 400px;
    
}
.flexbox-item-5{
    min-height: 400px;
    
}
.flexbox-item-6{
    min-height: 400px;
    
}
.flexbox-item-7{
    min-height: 400px;
    
}
.flexbox-item-8{
    min-height: 400px;
    ;
    
}
.flexbox-item-9{
    min-height: 400px;
    
}
.flexbox-item-10{
    min-height: 400px;
    
}

*/
